.ServiceTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ServiceTag {
    display: inline;
    padding: 8px 16px;
    background: var(--color-red);
    color: var(--color-white);
    margin: 3px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}