:root{
    --color-primary: #2F3339;
    --color-secondary: #1F2226;
    --color-yellow: #FFD500;
    --color-white:#FFF;
    --color-black: #000000;
    --color-green: #31F89B;
    --color-off-screen: #011627b8;
    --color-red:#f74d75;
    --color--gray: #353535;
    --color-bar-thumb:#FF4D4D;
}